<div class="container">
  <div class="row">
    <div class="col-md-6">
      <label for="web-crawl-url">Find links on : </label>
      <div class="input-group">
        <input type="text" class="form-control" id="web-crawl-url" placeholder="Search links on..." ng-model="crawlUrl" ng-disabled="searchInProgress"/>
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" ng-click="resetSearch()" ng-disabled="searchInProgress">Go!</button>
        </span>
      </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
    <div class="col-md-6">
      <label for="numLinks">Select number of links to crawl : </label>
      <div class="input-group">
        <select id="numLinks" ng-model="maxDepth" ng-change="validateAndCrawl()">
          <option ng-repeat="i in [4,5,6]" value="{{i}}">{{i}}</option>
        </select>
      </div>
    </div>
  </div><!-- /.row -->

  <div class="row" ng-class="{'new-search': newSearch}">
    <h5 class="col-lg-6">Searching links on : {{crawlUrl}}</h5>
  </div>

  <hr />
  <div class="row">
    <div class="panel panel-default col-md-3" ng-class="{'col-md-offset-1' : $index > 0}" ng-repeat="(key, value) in resultsTables track by $index">
      <!-- Default panel contents -->
      <div class="panel-heading">Absolute Urls In : {{crawledUrls[$index]}}</div>
      <!-- Table -->
      <table class="table table-hover">
        <tbody>
          <tr ng-repeat="url in absUrls[key] track by $index">
            <td class="result-links"><a ng-href="{{url}}" ng-class="{'crawled-link' : crawledUrls.indexOf(url) !== -1}">{{url}}</a></td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
