<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <label for="web-crawl-url">Find links on : </label>
      <div class="input-group">
        <input type="text" class="form-control" id="web-crawl-url" placeholder="Search links on..." ng-model="crawlUrl"/>
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" ng-click="validateAndCrawl()">Go!</button>
        </span>
      </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
  </div><!-- /.row -->
  <div class="row"x`>
    <h5 class="col-lg-6">Searching links on : {{crawlUrl}}</h5>
  </div>

  <div class="row">
    <div class="panel panel-default col-md-5">
      <!-- Default panel contents -->
      <div class="panel-heading">Absolute Urls</div>
      <!-- Table -->
      <table class="table table-hover">
        <tbody>
          <tr ng-repeat="url in absUrls track by $index">
            <td><a ng-href="url" alt="{{url}}">{{url}}</a></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="panel panel-default col-md-5 col-md-offset-2">
      <!-- Default panel contents -->
      <div class="panel-heading">Relative Urls</div>
      <!-- Table -->
      <table class="table">
      </table>
    </div>
  </div>
</div>
